* {
    box-sizing: border-box;
    font-family: hind;
}

html {
    background-color: #e6e6e9;
}

body {
    display: grid;
    grid-template-columns: 1fr 22em 1fr;
    grid-template-rows: 5em auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-width: 22em;
}

header {
    grid-column-start: 1;
    grid-column-end: 4;
}

header {
    background-color: white;
    height: 5em;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1em;
    flex-wrap: wrap;
    justify-content: space-between;
}

header>a>img[alt*="account"]{
    height: 2.5em;
}

header>form>[type="submit"] {
    display: none;
}

header>form>[type="search"] {
    width: 9em;
}

header img[alt*="Logo"]{
    display: flex;
    height: 4em;
}

section{
    grid-row-start: 2;
    justify-content: center;
    background-color: white;
    grid-column-start: 2;
    grid-column-end: 3;
    margin-top: 3em;
}

title {
    display: none;
}

form {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

fieldset>[type="submit"] {
    background-color: #fcc317;
    border-color: #ebb100;
    margin-top: .5em;
}

fieldset>[type="submit"]:hover {
    background-color: #d6a100;
    transition: .3s;
}

label {
    display: none;
}

legend {
    font-size: 1.5em;
    justify-content: center;
}

section input {
    background-color: #e6e6e9;
    width: 15em;
    height: 2em;
    margin-top: 1em;
    font-size: 1em;
}

section input:focus {
    background-color: #d6d6d6;
    outline: none;
}

input[value="Aanmelden"] {
    width: 6em;
    font-size: 1em;
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

input[value="Inloggen"] {
    width: 5em;
    font-size: 1em;
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

fieldset {
    display: flex;
    flex-wrap: wrap;
    border: none;
    margin-top: 1em;
    margin-bottom: 1em;
}

fieldset a {
    text-decoration: none;
    color: black;
    background-color: #fcc317;
    padding-left: .5em;
    padding-right: .5em;
    width: 6em;
    margin-top: 1em;
    margin-left: .5em;
    border:.1em solid #ebb100;
}

#login {
    width: 5em;
}

fieldset a:hover {
    background-color: #ebb100;
}

section>a {
    display: flex;
    justify-content: center;
    background-color: white;
    padding-bottom: 1em;
    color: black;
}

@media (min-width: 30em) {
    body{
        display: grid;
        grid-template-columns: 1fr 30em 1fr;
    }

    section {
        grid-column-start: 2;
        grid-column-end: 3;
    }
}

@media (min-width: 50em) {
    body {
        display: grid;
        grid-template-columns: 1fr 50em 1fr;
    }

     section {
        grid-column-start: 2;
        grid-column-end: 3;
    }
}

@media (min-width: 60em) {

}
